<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title
	th:text="${@environment.getProperty('app.name')} + ' - Формирование отчетности'"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container-flex">
		<div th:insert="menu :: navbar"></div>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb ">
				<li class="breadcrumb-item"><a href="/lpu">Назначенные отчеты</a></li>
				<li class="breadcrumb-item active">Загруженные отчеты</li>
			</ol>
		</nav>
		<h4 th:text="${lpu.name}"></h4>
		<form th:method="POST" th:action="@{/lpu/reports/download}"
			id="repForm">
			<input type="hidden" id="page" name="page" />
			<table class="table table-sm table-bordered">
				<thead class="table-light">
					<tr class="small text-center">
						<th>Код</th>
						<th>Дата</th>
						<th>Скачать отчет</th>
						<th>Статус</th>
					</tr>
				</thead>
				<tbody>
					<tr class="small text-center"
						th:each="reportStatus, iStat : ${reportStatusPage.content}">
						<td th:text="${reportStatus.typeId}" />
						<td
							th:text="${#temporals.format(reportStatus.dtRep, 'dd.MM.yyyy')}"></td>
						<td
							th:attr="data-typeId=${reportStatus.typeId},data-date=${reportStatus.dtRep.toString()}"
							class="btn-link" style="cursor: pointer;"
							th:text="${reportStatus.reportType.name}"
							onclick="download(this.getAttribute('data-typeId'), this.getAttribute('data-date'))" />
						<td><span
								th:text="${reportStatus.status == T(ru.sartfoms.mostat.service.util.Status).OPEN ? 'открыт' : reportStatus.status == T(ru.sartfoms.mostat.service.util.Status).DONE ? 'заполнен' : 'закрыт'}"
								class="badge"
								th:classappend="|${reportStatus.status == 2 ? 'text-bg-success' : ''} ${reportStatus.status == 1 ? 'text-bg-warning' : ''} ${reportStatus.status == 0 ? 'text-bg-light' : ''}|"></span></td>
					</tr>
				</tbody>
			</table>
			<nav aria-label="Pagination"
				th:if="${reportStatusPage.totalPages gt 1}">
				<ul
					class="pagination pagination-sm justify-content-center font-weight-medium">
					<li class="page-item"
						th:classappend="${reportStatusPage.number eq 0} ? 'disabled'">
						<button type="button" class="btn btn-sm btn-link"
							th:classappend="${reportStatusPage.number eq 0} ? 'disabled'"
							th:onclick="|goToPage(${reportStatusPage.number lt 2 ? 1 : reportStatusPage.number})|">
							<p>&#60;&#60;
							<p>
						</button>
					</li>
					<li class="page-item"
						th:classappend="${i eq reportStatusPage.number + 1} ? 'active'"
						th:each="i : ${#numbers.sequence(reportStatusPage.totalPages > reportStatusPage.number + 10 ? reportStatusPage.number + 1 : reportStatusPage.totalPages - 10 > 0 ? reportStatusPage.totalPages - 10 : 1, reportStatusPage.totalPages > 10 + reportStatusPage.number ? reportStatusPage.number + 10 : reportStatusPage.totalPages, 1)}">
						<a class="page-link" href="#" th:onclick="|goToPage(${i})|"
						th:text="${i}"><span class="sr-only">(current)</span></a>
					</li>
					<li class="page-item disabled"
						th:if="${reportStatusPage.number + 10 < reportStatusPage.totalPages}"><a
						class="page-link" href="#"> ... </a></li>
					<li class="page-item"
						th:classappend="${reportStatusPage.number + 1 eq reportStatusPage.totalPages} ? 'disabled'">
						<button type="button" class="btn btn-sm btn-link"
							th:classappend="${reportStatusPage.number + 1 eq reportStatusPage.totalPages} ? 'disabled'"
							th:onclick="|goToPage(${reportStatusPage.number + 2})|">
							<p>&#62;&#62;
							<p>
						</button>
					</li>
				</ul>
			</nav>
		</form>
	</div>
	<footer class="text-center text-lg-start fixed-bottom"
		th:fragment="footer" th:insert="copyright"> </footer>
	<script type="text/javascript">
		function download(typeId, dateTime) {
			location.href = "/lpu/reports/download/" + typeId + "/" + dateTime;
		}
		function deleteRep(typeId, dateTime) {
			location.href = "/lpu/reports/delete/" + typeId + "/" + dateTime;
		}
		function goToPage(page) {
			form = document.getElementById("repForm");
			form.page.value = page;
			form.action = "/lpu/reports";
			form.submit();
			form.action = "/lpu/reports/download";
		}
	</script>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>