<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title
	th:text="${@environment.getProperty('app.name')} + ' - Формирование отчетности'"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container-flex">
		<div th:insert="menu :: navbar"></div>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb ">
				<li class="breadcrumb-item active">Назначенные отчеты</li>
				<li class="breadcrumb-item"><a href="/lpu/reports">Загруженные
						отчеты</a></li>
			</ol>
		</nav>
		<div class="row">
			<div class="col">
				<h4 th:text="${lpu.name}"></h4>
			</div>
			<div class="col text-end">
				<div th:if="${status!= null}" th:switch="${status}">
					<span class="badge rounded-pill bg-danger"
						th:case="${T(ru.sartfoms.mostat.service.ReportDataService.UPLOAD_STATUS).INVALID}">ошибка
						загрузки</span><span class="badge rounded-pill bg-success"
						th:case="${T(ru.sartfoms.mostat.service.ReportDataService.UPLOAD_STATUS).DONE}">отчет
						загружен</span>
				</div>
			</div>
		</div>
		<div class="row p-1 bg-light border text-center small">
			<div class="col">
				<strong>Код</strong>
			</div>
			<div class="col-6">
				<strong>Скачать шаблон отчета</strong>
			</div>
			<div class="col">
				<strong>Дата</strong>
			</div>
			<div class="col-2">
				<strong>Заполненный отчет</strong>
			</div>
			<div class="col-2">
				<strong>Откреплен.подпись</strong>
			</div>
			<div class="col"></div>
		</div>
		<th:block th:if="${reportStatusPage.content.size} > 0"
			th:each="reportStatus, iStat : ${reportStatusPage.content}">
			<form th:method="POST" enctype="multipart/form-data"
				th:action="@{/lpu/upload}" th:id="'repForm' + ${iStat.index}">
				<input type="hidden" th:id="'dtRep' + ${iStat.index}" name="dtRep"
					th:value="${#temporals.format(reportStatus.dtRep, 'dd.MM.yyyy')}" />
				<div class="row p-1 text-center small">

					<div class="col" th:text="${reportStatus.typeId}"></div>
					<div class="col-6">
						<span class="btn-link" style="cursor: pointer;"
							th:text="${reportStatus.reportType.name}"
							th:onclick="|location.href='@{/lpu/download}/${reportStatus.typeId}'|"></span>
					</div>
					<div class="col"
						th:text="${#temporals.format(reportStatus.dtRep, 'dd.MM.yyyy')}"></div>
					<div class="col-2">
						<input type="file" name="report" th:id="'rep' + ${iStat.index}"
							class="form-control form-control-sm">
					</div>
					<div class="col-2">
						<input type="file" name="signature" th:id="'sig' + ${iStat.index}"
							class="form-control form-control-sm">
					</div>
					<div class="col">
						<input type="submit" value="Загрузить"
							class="btn btn-sm btn-outline-primary" />
					</div>
				</div>
			</form>
		</th:block>
		<form th:method="POST" th:action="@{/lpu}" id="pageForm">
			<input type="hidden" id="page" name="page" />
			<nav aria-label="Pagination"
				th:if="${reportStatusPage.totalPages gt 1}">
				<ul
					class="pagination pagination-sm justify-content-center font-weight-medium">
					<li class="page-item"
						th:classappend="${reportStatusPage.number eq 0} ? 'disabled'">
						<button type="button" class="btn btn-sm btn-link"
							th:classappend="${reportStatusPage.number eq 0} ? 'disabled'"
							th:onclick="|goToPage(${reportStatusPage.number lt 2 ? 1 : reportStatusPage.number})|">
							<p>&#60;&#60;
							<p>
						</button>
					</li>
					<li class="page-item"
						th:classappend="${i eq reportStatusPage.number + 1} ? 'active'"
						th:each="i : ${#numbers.sequence(reportStatusPage.totalPages > reportStatusPage.number + 10 ? reportStatusPage.number + 1 : reportStatusPage.totalPages - 10 > 0 ? reportStatusPage.totalPages - 10 : 1, reportStatusPage.totalPages > 10 + reportStatusPage.number ? reportStatusPage.number + 10 : reportStatusPage.totalPages, 1)}">
						<a class="page-link" href="#" th:onclick="|goToPage(${i})|"
						th:text="${i}"><span class="sr-only">(current)</span></a>
					</li>
					<li class="page-item disabled"
						th:if="${reportStatusPage.number + 10 < reportStatusPage.totalPages}"><a
						class="page-link" href="#"> ... </a></li>
					<li class="page-item"
						th:classappend="${reportStatusPage.number + 1 eq reportStatusPage.totalPages} ? 'disabled'">
						<button type="button" class="btn btn-sm btn-link"
							th:classappend="${reportStatusPage.number + 1 eq reportStatusPage.totalPages} ? 'disabled'"
							th:onclick="|goToPage(${reportStatusPage.number + 2})|">
							<p>&#62;&#62;
							<p>
						</button>
					</li>
				</ul>
			</nav>
		</form>
	</div>
	<footer class="text-center text-lg-start fixed-bottom"
		th:fragment="footer" th:insert="copyright"> </footer>
	<script type="text/javascript">
		function goToPage(page) {
			form = document.getElementById("pageForm");
			form.page.value = page;
			form.submit();
		}
	</script>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>