<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title
	th:text="${@environment.getProperty('app.name')} + ' - Формирование отчетности'"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div th:insert="menu :: navbar"></div>
		<br />
		<form th:method="POST" th:action="@{/lpu/upload}" id="repForm">
			<input type="hidden" id="page" name="page" />
			<h4 th:text="${lpu.name}"></h4>
			<div th:if="${reportTypesPage.content.size} > 0">
				<table class="table table-sm table-striped table-bordered">
					<thead class="table-light">
						<tr class="small">
							<th>Код</th>
							<th>Скачать шаблон отчета</th>
							<th>Загрузить отчет</th>
						</tr>
					</thead>
					<tbody>
						<tr class="small" th:each="reportType, iStat : ${reportTypesPage.content}">
							<td th:text="${reportType.id}" />
							<td class="btn-link" style="cursor: pointer;"
								th:text="${reportType.name}" onclick="" />
							<td><input type="file" th:name="'rep' + ${reportType.id}"
								th:id="'rep' + ${reportType.id}" class="form-control form-control-sm"></td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Pagination"
					th:if="${reportTypesPage.totalPages gt 0}">
					<ul
						class="pagination pagination-sm justify-content-center font-weight-medium">
						<li class="page-item"
							th:classappend="${reportTypesPage.number eq 0} ? 'disabled'">
							<button type="button" class="btn btn-sm btn-link"
								th:classappend="${reportTypesPage.number eq 0} ? 'disabled'"
								th:onclick="|goToPage(${reportTypesPage.number lt 2 ? 1 : reportTypesPagee.number})|">
								<p>&#60;&#60;
								<p>
							</button>
						</li>
						<li class="page-item"
							th:classappend="${i eq reportTypesPage.number + 1} ? 'active'"
							th:each="i : ${#numbers.sequence(reportTypesPage.totalPages > reportTypesPage.number + 10 ? reportTypesPage.number + 1 : reportTypesPage.totalPages - 10 > 0 ? reportTypesPage.totalPages - 10 : 1, reportTypesPage.totalPages > 10 + reportTypesPage.number ? reportTypesPage.number + 10 : reportTypesPage.totalPages, 1)}">
							<a class="page-link" href="#" th:onclick="|goToPage(${i})|"
							th:text="${i}"><span class="sr-only">(current)</span></a>
						</li>
						<li class="page-item disabled"
							th:if="${reportTypesPage.number + 10 < reportTypesPage.totalPages}"><a
							class="page-link" href="#"> ... </a></li>
						<li class="page-item"
							th:classappend="${reportTypesPage.number + 1 eq reportTypesPage.totalPages} ? 'disabled'">
							<button type="button" class="btn btn-sm btn-link"
								th:classappend="${reportTypesPage.number + 1 eq reportTypesPage.totalPages} ? 'disabled'"
								th:onclick="|goToPage(${reportTypesPage.number + 2})|">
								<p>&#62;&#62;
								<p>
							</button>
						</li>
					</ul>
				</nav>
			</div>
		</form>
	</div>
	<script type="text/javascript">
		function goToPage(page) {
			document.getElementById("repForm").page.value = page;
			document.getElementById("repForm").submit();
		}
	</script>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>