<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title
	th:text="${@environment.getProperty('app.name')} + ' - Формирование отчетности'"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div th:insert="menu :: navbar"></div>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb ">
				<li class="breadcrumb-item" aria-current="page"><a href="/lpu">Главная</a></li>
				<li class="breadcrumb-item active">Список загруженных отчетов</li>
			</ol>
		</nav>
		<h4 th:text="${lpu.name}"></h4>
		<form th:method="POST" th:action="@{/lpu/reports/download}"
			id="repForm">
			<input type="hidden" id="page" name="page" />
			<table class="table table-sm table-bordered">
				<thead class="table-light">
					<tr class="small">
						<th>Код</th>
						<th>Дата загрузки</th>
						<th>Отчет</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="small"
						th:each="reportData, iStat : ${reportDatasPage.content}">
						<td th:text="${reportData.typeId}" />
						<td
							th:text="${#temporals.format(reportData.dateTime, 'dd.MM.yyyy HH:mm:ss')}"></td>
						<td
							th:attr="data-typeId=${reportData.typeId},data-date=${reportData.dateTime.toString()}"
							class="btn-link" style="cursor: pointer;"
							th:text="${reportTypesMap.get(reportData.typeId)}"
							onclick="download(this.getAttribute('data-typeId'), this.getAttribute('data-date'))" />
						<td><input type="button"
							th:attr="data-typeId=${reportData.typeId},data-date=${reportData.dateTime.toString()}"
							value="Удалить"
							onclick="deleteRep(this.getAttribute('data-typeId'), this.getAttribute('data-date'))"
							class="btn btn-sm btn-warning" /></td>
					</tr>
				</tbody>
			</table>
			<nav aria-label="Pagination"
				th:if="${reportDatasPage.totalPages gt 1}">
				<ul
					class="pagination pagination-sm justify-content-center font-weight-medium">
					<li class="page-item"
						th:classappend="${reportDatasPage.number eq 0} ? 'disabled'">
						<button type="button" class="btn btn-sm btn-link"
							th:classappend="${reportDatasPage.number eq 0} ? 'disabled'"
							th:onclick="|goToPage(${reportDatasPage.number lt 2 ? 1 : reportDatasPage.number})|">
							<p>&#60;&#60;
							<p>
						</button>
					</li>
					<li class="page-item"
						th:classappend="${i eq reportDatasPage.number + 1} ? 'active'"
						th:each="i : ${#numbers.sequence(reportDatasPage.totalPages > reportDatasPage.number + 10 ? reportDatasPage.number + 1 : reportDatasPage.totalPages - 10 > 0 ? reportDatasPage.totalPages - 10 : 1, reportDatasPage.totalPages > 10 + reportDatasPage.number ? reportDatasPage.number + 10 : reportDatasPage.totalPages, 1)}">
						<a class="page-link" href="#" th:onclick="|goToPage(${i})|"
						th:text="${i}"><span class="sr-only">(current)</span></a>
					</li>
					<li class="page-item disabled"
						th:if="${reportDatasPage.number + 10 < reportDatasPage.totalPages}"><a
						class="page-link" href="#"> ... </a></li>
					<li class="page-item"
						th:classappend="${reportDatasPage.number + 1 eq reportDatasPage.totalPages} ? 'disabled'">
						<button type="button" class="btn btn-sm btn-link"
							th:classappend="${reportDatasPage.number + 1 eq reportDatasPage.totalPages} ? 'disabled'"
							th:onclick="|goToPage(${reportDatasPage.number + 2})|">
							<p>&#62;&#62;
							<p>
						</button>
					</li>
				</ul>
			</nav>
		</form>
	</div>
	<footer class="text-center text-lg-start fixed-bottom"
		th:fragment="footer" th:insert="copyright"> </footer>
	<script type="text/javascript">
		function download(typeId, dateTime) {
			location.href = "/lpu/reports/download/" + typeId + "/" + dateTime;
		}
		function deleteRep(typeId, dateTime) {
			location.href = "/lpu/reports/delete/" + typeId + "/" + dateTime;
		}
		function goToPage(page) {
			form = document.getElementById("repForm");
			form.page.value = page;
			form.action = "/lpu/reports";
			form.submit();
			form.action = "/lpu/reports/download";
		}
	</script>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>