<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title
	th:text="${@environment.getProperty('app.name')} + ' - Формирование отчетности'"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
<style>
div.scrolltable {
	overflow: auto;
}
</style>
</head>
<body>
	<div class="container-fluid">
		<div th:insert="menu :: navbar"></div>
		<br />
		<form th:method="POST" th:action="@{/tfoms}" id="homeForm">
			<div class="row">
				<div class="col-sm">
					<div class="form-group">
						<div class="d-flex justify-content-center">
							<h5>Выбор типа отчета</h5>
							<svg th:if="${formParams.reportTypeId != null}"
								xmlns="http://www.w3.org/2000/svg" width="32" height="32"
								fill="currentColor" class="bi bi-check-lg text-success"
								viewBox="0 0 16 16">
  <path
									d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
</svg>
						</div>
						<select class="form-select" size="3"
							th:classappend="${formParams.reportTypeId != null} ? 'is-valid' : ''"
							th:field="*{formParams.reportTypeId}"
							onchange="this.form.lpuId.value = null;this.form.submit()">
							<option th:each="reportType : ${reportTypes}"
								th:value="${reportType.id}"
								th:text="'№' + ${reportType.id} +' '+${reportType.name}"
								th:selected="${formParams.reportTypeId}"></option>
						</select>
					</div>
				</div>
				<div class="col-sm">
					<div class="form-group">
						<div class="d-flex justify-content-center">
							<h5>Выбор МО</h5>
							<svg th:if="${formParams.lpuId != null}"
								xmlns="http://www.w3.org/2000/svg" width="32" height="32"
								fill="currentColor" class="bi bi-check-lg text-success"
								viewBox="0 0 16 16">
  <path
									d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
</svg>
						</div>
						<select class="form-select" size="3"
							th:classappend="${formParams.lpuId != null} ? 'is-valid' : ''"
							th:field="*{formParams.lpuId}" onchange="this.form.submit()">
							<option th:each="lpu : ${lpus}" th:value="${lpu.id}"
								th:text="${lpu.name}" th:selected="${formParams.lpuId}"></option>
						</select>
					</div>
				</div>
			</div>
			<br>
			<div class="row d-flex justify-content-center"
				th:if="${formParams.lpuId != null}">
				<div class="col-sm-1">
					<input type="hidden" name="show" value="0" /> <input type="button"
						value="Cмотреть отчет"
						onclick="this.form.show.value=1;this.form.submit()"
						class="btn btn-sm btn-primary" />
				</div>
				<div class="col-sm-2 d-flex flex-nowrap">
					с&nbsp;<input type="date" th:field="*{formParams.dtFrom}"
						id="dtFrom" class="form-control form-control-sm"
						th:classappend="${#fields.hasErrors('formParams.dtFrom')} ? 'is-invalid' : 'is-valid'" />
				</div>
				<div class="col-sm-2 d-flex flex-nowrap">
					по&nbsp;<input type="date" th:field="*{formParams.dtTo}" id="dtTo"
						class="form-control form-control-sm"
						th:classappend="${#fields.hasErrors('formParams.dtTo')} ? 'is-invalid' : 'is-valid'" />
				</div>
				<div class="col-sm-1">
					<input type="button" value="В Excel"
						onclick="this.form.action='/tfoms/excel';this.form.submit();this.form.action='/tfoms'"
						class="btn btn-sm btn-primary" />
				</div>
			</div>
		</form>

		<div class="scrolltable" th:if="${headerModel != null}">
			<table class="table-sm table-bordered caption-top">
				<caption th:text="'№' + ${reportType.id} +' '+${reportType.name}"></caption>
				<thead>
					<tr class="small text-center">
						<th rowspan="2">Код МО</th>
						<th rowspan="2">Дата отчета</th>
						<th th:each="entry, iStat : ${headerModel.entrySet()}"
							th:rowspan="${entry.value==null ? '2' : '1'}"
							th:colspan="${entry.value==null ? '1' : entry.value.size()}"
							th:text="${entry.key}" />
					</tr>
					<tr class="small text-center">
						<th:block th:each="value, iStat : ${headerModel.values()}">
							<th th:each="col, iStat : ${value}" th:if="${value != null}"
								th:text="${col}" />
						</th:block>
					</tr>
				</thead>
				<tbody th:if="${dataModel != null}">
					<th:block th:each="lpuMap, lpuStat : ${dataModel.entrySet()}">
						<th:block th:each="dateMap, dateStat : ${lpuMap.value}">
							<th:block th:each="rowMap, rowStat : ${dateMap.value}">
								<tr class="small text-end">
									<td class="text-center" th:if="${rowStat.index == 0}" th:rowspan="${rowStat.size}" th:text="${lpuMap.key}"></td>
									<td th:if="${rowStat.index == 0}" th:rowspan="${rowStat.size}"
										th:text="${#temporals.format(dateMap.key, 'dd.MM.yyyy HH:mm:ss')}"></td>
									<th:block th:each="col : ${rowMap.value}">
										<td th:text="${col}"></td>
									</th:block>
								</tr>
							</th:block>
						</th:block>
					</th:block>
					<tr class="small text-bg-info text-end fw-bold">
						<td colspan="2">Сумма:</td>
						<th:block th:each="col : ${sumRow}">
							<td th:text="${col}"></td>
						</th:block>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer class="text-center text-lg-start" th:fragment="footer"
		th:insert="copyright"> </footer>
	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>